script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/socket.io-client/socket.io.js')
script(src='/lib/handlebars/handlebars.min.js')
script(src='/lib/gsap/src/minified/TweenMax.min.js')
script(src='/lib/underscore/underscore-min.js')
script(src='/lib/socket.io-client/socket.io.js')
script(src='/lib/EaselJS/lib/easeljs-0.8.0.min.js')
script(src='/lib/PreloadJS/lib/preloadjs-0.6.0.min.js')
script(src='/utils/helper.js')
script(src='/utils/timer.js')
script(src='/screens/splash.js')
script(src='/config/config.js')
script(src='/game/layout/menu/menu.js')
script(src='/game/layout/menu/controls.js')
script(src='/game/layout/menu/stats.js')
script(src='/game/layout/menu/users.js')
script(src='/game/components/figure.js')
script(src='/game/components/grid.js')
script(src='/game/static/States.js')
script(src='/game/services/messages.js')
script(src='/game/scene.js')
script(src='/game/game.js')
script(src='/game/data/mainData.js')
script(src='/game/controllers/mainDataCtrl.js')
script(src='/app.js')
