<div class="controls">
	<div class="separator left clearfix"></div>
	<h2>play vs. computer</h2>
	<div class="control-group">
		<button type="button" class="start-single" data-level="novice"><span>novice</span></button>
		<button type="button" class="start-single" data-level="intermediate"><span>intermediate</span></button>		
		<button type="button" class="start-single" data-level="experienced"><span>experienced</span></button>
		<button type="button" class="start-single" data-level="expert"><span>expert</span></button>
	</div>	
</div>
