<div class="stats">
	<div class="separator left clearfix"></div>
	<div class="ttTable left two-cols">
		<div class="ttRow">
			<div class="ttCell text-center"><span>status</span></div>
			<div class="ttCell text-center"><span>{{this.status}}</span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell text-center"><span>time</span></div>
			<div class="ttCell text-center"><span>{{this.time}}</span></div>
		</div>
	</div>
</div>
